body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  /*background: #fff;*/
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  /*background: #ddd;*/
}

.title {
  display: block;
  left: 26%;
  position: absolute;
  font-family: "Arial Black";
  font-size: 40px;
}

.game-status {
  display: block;
  float: left;
  clear:left;
  position: absolute;
  left: 27%;
  top: 50%;
  font-size: 25px;
  height: 30%;
  width: 300px;
  text-align: center;
}

.game-board{
  display: block;
  float: left;
  clear:left;
  position: absolute;
  left: 30%;
  top: 20%;
}

.game-info{
  display: block;
  float: left;
  clear:left;
  position: absolute;
  left: 70%;
  bottom: 40%;
  font-size: 20px;
}
.game {
  display: block;
  float: left;
  /*display: flex;*/
  /*flex-direction: ro;w;*/

}
.restart {
  display: block;
  clear:left;
  position: absolute;
  width: 80%;
  height: 20%;
  top: 30%;
  left:25%;
}

.restartButton {
  display: block;
  clear:left;
  width: 50%;
  height: 60%;
  font-size: 15px;
  text-align: center;
}

.historyButton {
  font-size: 20px;
}

